main {
  height: calc(100vh - 100px);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

#friendBox {
  margin-left: 20px;
}

#friend-list svg {
  display: none;
  margin-left: auto;
}

#friendDetailBox {
  margin-right: 20px;
}

#friendDetailBox span {
  white-space: normal;
  word-break: break-all;
}

#friendDetailBox #friendEmail {
  font-size: xx-small;
}

#friendDetail {
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);
  padding: 5px 10px;
  white-space: normal;
  word-break: break-all;
}

#friendDetail label {
  color: rgb(99, 102, 107);
  font-weight: 550;
  font-size: medium;
}

#friendDetail span {
  color: rgb(54, 52, 48);
  font-weight: 600;
  font-size: large;
}

#friendDetail span+label {
  margin-top: 10px;
}

#friendDetailContailner {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.bothSite {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.profileBox {
  position: relative;
  height: 144px;
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bothSiteItem {
  background: rgb(246, 249, 252);
  border: 1px solid rgb(239, 242, 247);
  border-radius: 10px;
}

.bothSiteItem+.bothSiteItem {
  margin-top: 20px;
}

.bothSiteFillerItem {
  flex: 1
}

.profilePic {
  height: 50%;
}

#chatBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background: rgb(243, 246, 252);
  border-radius: 10px;
  padding: 15px 10px;
  position: relative;
}

.mainItem {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.mainItem+.mainItem {
  margin-left: 20px;
}

.video-box {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 432px;
}

.friend-list-title {
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
}

.friend-list {
  flex-grow: 1;
  border-radius: 10px;
}

#warn {
  text-align: center;
  color: red;
}

#chat-box-head {
  display: none;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  position: absolute;
  top: -25px;
  left: calc(50% - 50px);
  font-weight: 500;
}

#chat-box-head[part='I'] {
  background: rgb(255, 248, 252);
  border: 3px solid rgb(211, 70, 157);
}

#chat-box-head[part='II'] {
  background: rgb(246, 249, 252);
  border: 3px solid rgb(122, 163, 213)
}

#chat-box-head #timer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white;
  color: rgb(154, 228, 95)
}

#chat-box-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

#message {
  display: flex;
  align-items: stretch;
  margin: 10px 0;
}

#headIcon {
  height: 2rem;
  border-radius: 50%;
  margin: 0 5px;
}

#messageBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  max-width: 40%;
}

#replyMsg .fix {
  text-decoration-line: line-through;
  text-decoration-color: red;
}

#originMsg {
  display: flex;
}

#message[from="myself"] #originMsg span.correction, #message[from="other"] #originMsg span.correction {
  color: limegreen;
}

#content {
  border-radius: 1rem;
  padding: 0 10px;
  word-break: break-all;
  white-space: normal;
}

#message[from="myself"] #messageBody {
  align-items: flex-end;
  background: rgb(126, 160, 252)
}

#message[from="myself"] #messageBody span {
  color: white;
}

#message[from="other"] #messageBody {
  background: white;
}

#message[from="myself"] {
  flex-direction: row-reverse;
  justify-content: right;
  padding: 0 10px 0 0
}

#message[from="myself"] #originMsg {
  flex-direction: row-reverse;
}

#message[from="myself"] #replyMsg {
  justify-content: flex-start;
  width: -webkit-fill-available;
  border-bottom: 1px solid white
}

#message[from="other"] #replyMsg {
  width: -webkit-fill-available;
  border-bottom: 1px solid rgb(137, 196, 255);
}

#message[from="myself"] #translateMsg {
  justify-content: flex-end;
  width: -webkit-fill-available;
  border-top: 1px solid white
}

#message[from="other"] #translateMsg {
  width: -webkit-fill-available;
  border-top: 1px solid rgb(137, 196, 255);
}

#sendTime {
  font-size: 25%;
  font-weight: bold;
  color: gray;
  margin: 0 10px;
}

#message:hover #toolbar {
  display: flex;
}

#toolbar {
  display: none;
  width: 230px;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  z-index: 1;
  background: rgb(200, 204, 212);
  border-radius: 10px;
}

#toolbar button {
  flex: 0 1 33%;
  height: 2rem;
  background: rgb(25, 35, 59);
  color: rgb(200, 204, 212);
}

#toolbar button:nth-child(1) {
  border-top-left-radius: 10px
}

#toolbar button:nth-child(3) {
  border-top-right-radius: 10px
}

#toolbar button:nth-last-child(1) {
  border-bottom-right-radius: 10px
}

#toolbar button:nth-last-child(3) {
  border-bottom-left-radius: 10px
}

#toolbar button:nth-child(n+4):nth-child(-n+7) {
  border-top: 1px solid rgb(200, 204, 212);
}

/* #toolbar button:nth-child(3n) {
  border-right: none
} */

audio {
  height: 2rem;
  width: 7rem;
}

.messageItem {
  line-height: 2rem;
}

#message[from="other"] audio::-webkit-media-controls-panel {
  background-color: white;
  border: none
}

::-webkit-media-controls-enclosure {
  border: none
}

/* ::-webkit-media-controls-overlay-enclosure {
  border: 10px solid red;
} */

#message[from="myself"] audio::-webkit-media-controls-panel {
  background-color: rgb(126, 160, 252)
}

#mainVideo {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
}

.subVideo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#remoteVideo {
  object-fit: cover;
  height: auto;
  width: -webkit-fill-available;
  border-radius: 10px;
}

#messages {
  flex-grow: 1;
  max-height: 89vh;
  overflow-y: auto;
  padding-bottom: 64px;
}

li {
  list-style-type: none;
}

.chat-box-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.chat-box-footer button {
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(2, 77, 252);
  color: rgb(227, 246, 253);
  font-weight: 450;
}

.contral {
  display: flex;
  justify-content: space-between
}

.optionBtn {
  display: none;
}

.optionBtn svg {
  display: none;
}

.videoContral path {
  color: rgb(227, 246, 253);
}

#replyTo {
  display: none;
  margin: 0 0 10px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

#replyTo #leftPart {
  flex-grow: 1;
  display: flex;
}

#replyTo img {
  height: 2rem;
  width: 2rem;
}

#replyTo #replyBody {
  display: flex;
  flex-direction: column;
}

#replyTo span {
  height: 2rem;
  padding: 0 10px;
  line-height: 2rem;
}

#replyTo span#content {
  background: rgba(95, 158, 160, 0.24);
}

#cancelReply {
  cursor: pointer;
}

#form {
  display: flex;
  height: 2rem;
}

#input {
  padding-left: 1rem;
  flex-grow: 1;
  border-radius: 10px;
  margin-right: 10px;
}

#input:focus {
  outline: none;
}

#form>button {
  background: #333;
  padding: 0 1rem;
  border-radius: 10px;
  color: #fff;
}

#recordVoiceMsgBtn {
  height: 2rem;
  width: 2rem;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  /* color: #fff; */
  border: 1px solid rgb(57, 70, 77);
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  margin-right: 10px;
}

/* #recordVoiceMsgBtn path {
  color: #fff;
} */

.user_box {
  position: relative;
  margin: 5px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
}

.user_box img {
  height: 32px;
  width: 32px;
}

.user_box p {
  margin-left: 5px;
}

.user_box[checked] {
  background: rgb(243, 246, 252);
}

.user_box:hover {
  background: lightsteelblue;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%
}

/* Pupop Form  */

.exchange {
  position: relative;
}

/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  border: 1px solid #635f5f;
  border-radius: 10px;
  z-index: 9;
  position: absolute;
  bottom: 40px;
  left: 0px;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-popup button {
  margin-top: 10px;
}

#modeContainer {
  display: flex;
  flex-direction: row;
}

#modeContainer .mode {
  text-align: center;
}

#modeContainer .mode+.mode {
  margin-left: 10px;
}

/* Add styles to the form container */

/* Full-width input fields */

.form-popup input[type=text], .form-popup input[type=password] .form-popup input[type=text] {
  width: 100%;
  padding: 0 5px;
  border: none;
  text-align: center;
}

/* When the inputs get focus, do something */

.form-popup input[type=text]:focus, .form-popup input[type=password]:focus {
  outline: none;
}

.form-popup label+label {
  margin-top: 10px;
}

label[for=start_time] {
  display: flex;
  flex-direction: column;
}

#start_time_input {
  width: 190px;
  font-size: small;
  text-align: start;
}

#datetimeLocalWrap {
  display: flex;
  padding: 5px;
  height: 2rem;
  align-content: center;
}

#setTime {
  display: none;
  align-self: center;
  flex-grow: 1;
  text-align: center;
  border-radius: 5px;
  background: rgb(2, 77, 252);
  color: rgb(227, 246, 253);
  font-weight: 450;
  cursor: pointer;
  padding: 0 5px;
  margin-left: 5px;
}

/* #setTime:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} */

#notify {
  font-size: smaller;
  align-self: flex-end;
}

#notifyCheckbox {
  margin: 5px
}

#ratio-box {
  display: flex;
  flex-direction: column;
}

#ratioBody {
  align-self: flex-end;
  font-size: small;
  margin-right: 10px;
}

#start_time_Header {
  display: flex;
  justify-content: space-between;
}

/* Set a style for the submit/login button */

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-popup .btn:hover, .open-button:hover {
  opacity: 1;
}

.container {
  border: 1px solid darkolivegreen;
  background: rgb(242, 246, 252);
  border-radius: 10px;
  padding: 5px;
}

#time {
  padding: 0 5px;
}

#duration-box {
  display: flex;
  align-items: flex-end;
}

#ratio-box {
  padding: 5px;
  display: flex;
  align-items: center;
}

#ratio-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ratio-bar>label {
  padding: 0 5px;
}

b {
  padding: 0 5px;
}

#noticing-box {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.user_box .count-circle {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: none;
  border-radius: 10.5px;
  min-width: 21px;
  background: red;
  justify-content: center;
}

.user_box .count {
  padding: 0 9px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.listItem {
  padding-top: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.listItem+.listItem {
  border-top: 1px solid lightgray;
}

.contentBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.contentBox span {
  text-align: left;
}

.contentBox audio {
  width: -webkit-fill-available;
}

.timeBox {
  padding: 0 10px;
}

.scoreBox {
  width: 75px;
  padding: 0 10px;
}

.checkBox {
  width: 75px;
  height: 1rem;
  margin-top: 5px;
}

div#titleContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 10px 0;
}

span.titleItem {
  padding: 0 10px;
}

span#contentTitle {
  flex-grow: 1;
  text-align: left;
}

span#scoreTitle, span#collectTitle {
  width: 75px;
}

::-webkit-scrollbar {
  width: 0px;
}

#replyIcon {
  display: none;
}