main {
  flex-grow: 1;
  background: rgba(0, 75, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between
}

.friend {
  flex-grow: 1;
  padding: 10px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.chat-box {
  flex-grow: 1;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.video-box {
  flex-grow: 1;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.friend-list-title {
  background: white;
  border-radius: 10px;
  text-align: center
}

.friend-list {
  flex-grow: 1;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  text-align: center
}

#warn {
  text-align: center;
  color: red;
}

#chat-box-head {
  border-radius: 10px;
  padding: 5px;
  background: white;
  margin: 0 0 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

#chat-box-main {
  flex-grow: 1;
  padding: 10px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#message {
  /* height: 2.5rem; */
  display: flex;
  align-items: stretch;
  margin: 10px 0;
}

#headIcon {
  height: 2.5rem;
  border-radius: 50%;
  margin: 0 5px;
}

#messageBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#replyMsg #content, #replyMsg audio {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(211, 211, 211, 0.25)
}

#replyMsg .fix {
  text-decoration-line: line-through;
  text-decoration-color: red;
}

#originMsg {
  display: flex;
}

#originMsg .fix {
  color: limegreen;
}

#content {
  height: 2rem;
  border-radius: 1rem;
  padding: 0 10px;
  line-height: 2rem;
}

#message[from="other"] #originMsg span#content {
  background: cornflowerblue;
  margin: 0 5px 0 0;
}

/* #message[from="myself"] #messageBody {
  align-items: baseline;
} */

#message[from="myself"] {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 0 10px 0 0
}

#message[from="myself"] #messageBody {
  border-radius: 10px;
  background: rgb(151, 100, 151);
}

#message[from="myself"] {
  border-radius: 10px;
}

#message[from="myself"] #originMsg #replyMsg+#originMsg {
  border-top: 1px solid lightsalmon;
  display: flex;
}

#message[from="myself"] .messageItem {
  flex-direction: row-reverse;
}

#message[from="myself"] #originMsg span#content {
  /* margin: 0 10px 0 5px; */
  /* background: rgba(93, 226, 93, 0.219); */
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

#message[from="myself"] #translationMsg span#content {
  /* margin: 0 10px 0 5px; */
  background: rgba(211, 211, 211, 0.25)
}

#translationMsg span#content {
  background: rgba(211, 211, 211, 0.25)
}

#sendTime {
  font-size: 25%;
  font-weight: bold;
  color: gray;
}

#message button {
  display: none;
  margin: 0 5px;
  border-radius: 0.5rem;
  padding: 0 5px;
}

#message:hover button {
  display: block;
}

audio {
  /* margin: 0 10px 0 5px; */
  height: 2rem;
  width: 7rem;
}

#remoteVideo {
  object-fit: cover;
  height: 40%;
}

#localVideo {
  object-fit: cover;
  height: 40%;
}

#messages {
  flex-grow: 1;
  max-height: 482px;
  overflow: auto;
}

li {
  list-style-type: none;
}

.contral {
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.contral>div>button {
  padding: 5px 10px;
  border: 2px solid yellow;
  border-radius: 5px;
  background: yellowgreen;
}

#replyTo {
  display: none;
  /* justify-content: space-between; */
  margin: 0 0 10px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

#replyTo #leftPart {
  flex-grow: 1;
  display: flex;
}

#replyTo img {
  height: 2rem;
}

#replyTo #replyBody {
  display: flex;
  flex-direction: column;
}

#replyTo span {
  height: 2rem;
  padding: 0 10px;
  line-height: 2rem;
}

#replyTo span#content {
  background: rgba(95, 158, 160, 0.24);
}

#cancelReply {
  cursor: pointer;
}

#form {
  /* background: rgba(0, 75, 255, 0); */
  /* padding: 5px 10px 10px 0px; */
  display: flex;
  height: 2rem;
}

#input {
  /* border-: none; */
  padding-left: 1rem;
  flex-grow: 1;
  border-radius: 10px;
  margin-right: 10px;
}

#input:focus {
  outline: none;
}

#form>button {
  background: #333;
  /* border: none; */
  padding: 0 1rem;
  /* margin: 0.25rem; */
  border-radius: 10px;
  /* outline: none; */
  color: #fff;
}

#recordVoiceMsgBtn {
  background: rgba(45, 58, 56, 0.74);
  /* border: none; */
  padding: 0 1rem;
  /* margin: 0.25rem; */
  border-radius: 10px;
  /* outline: none; */
  color: #fff;
  display: inline-block;
  /* text-align: center; */
}

.user_box {
  position: relative;
  margin: 10px;
  border: 1px solid lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.user_box:hover {
  background: lightsteelblue;
}

img {
  border-radius: 50%;
  max-width: 30%;
  height: 80%;
}

/* Pupop Form  */

.exchange {
  position: relative;
}

/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0px;
  border: 10px solid #635f5f;
  border-radius: 10px;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* Full-width input fields */

.form-container input[type=text], .form-container input[type=password] .form-container input[type=text] {
  width: 100%;
  padding: 0 5px;
  margin: 5px 0;
  border: none;
  /* background: #f1f1f1; */
}

/* When the inputs get focus, do something */

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  /* background-color: #ddd; */
  outline: none;
}

/* Set a style for the submit/login button */

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.container {
  border: 2px solid darkolivegreen
}

#time {
  padding: 0 5px;
}

#duration-box {
  display: flex;
  align-items: flex-end;
}

#ratio-box {
  padding: 5px;
  display: flex;
  align-items: center;
}

#ratio-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ratio-bar>label {
  padding: 0 5px;
}

b {
  padding: 0 5px;
}

#noticing-box {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.user_box .count-circle {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: none;
  border-radius: 10.5px;
  min-width: 21px;
  background: red;
  justify-content: center;
}

.user_box .count {
  padding: 0 9px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}