* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  white-space: nowrap;
  color: rgb(70, 87, 105)
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
  height: 10vh;
  padding: 10px 25px 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.web-name {
  font-size: 50px;
  line-height: 50px;
  color: #3f3a3a;
}

.tags {
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  color: #3f3a3a;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3f3a3a;
}

.tag {
  padding: 0 3px;
}

.tag+.tag, .tag+.dropdown {
  border-left: 2px solid #3f3a3a;
}

.count-circle {
  display: flex;
  border-radius: 17.5px;
  min-width: 35px;
  background: red;
  justify-content: center;
}

.count {
  padding: 0 9px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0px;
  top: 40px;
  background-color: #f1f1f1;
  /* width: 250px; */
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 5px
}

/* Links inside the dropdown */

.dropdown-content a {
  display: flex;
  height: 3rem;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content img {
  height: 100%;
  border-radius: 50%;
  padding: 0 5px;
  margin: 0 5px;
}

.dropdown-content button {
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 5px;
}

.dropdown-content span {
  padding: 0 5px;
  margin: 0 5px;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: flex;
}

.tool_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tool_box>div {
  padding: 5px;
  border: 1px solid darkolivegreen;
  border-radius: 10px;
  margin: 10px;
}

.tool_box th {
  padding: 5px;
  border: 1px solid darkolivegreen;
  margin: 10px;
}