* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  white-space: nowrap;
  color: rgb(70, 87, 105)
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
  height: 100px;
  padding: 10px 25px 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header img {
  border-radius: 0px;
  height: 100px;
}

.web-name {
  font-size: 50px;
  line-height: 50px;
  color: #3f3a3a;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 35px;
  color: #3f3a3a;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #3f3a3a;
}

.tag {
  line-height: 2rem;
  /* margin-top: auto; */
  padding: 0 10px;
  cursor: pointer;
  /* margin: 0 10px; */
}

.tags img {
  height: 4rem;
  width: 4rem;
}

.count-circle {
  position: absolute;
  display: flex;
  border-radius: 17.5px;
  min-width: 35px;
  height: 35px;
  background: red;
  justify-content: center;
  top: 25px;
  right: 25px;
}

.count {
  padding: 0 9px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 10px;
  top: 90px;
  background-color: #f1f1f1;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.noticeItem+.noticeItem {
  margin-top: 10px;
}

/* Links inside the dropdown */

.dropdown-content a {
  display: flex;
  height: 3rem;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content img {
  border-radius: 50%;
}

.dropdown-content button {
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  padding: 0 5px;
}

/* .dropdown-content span {
  padding: 0 5px;
  margin: 0 5px;
} */

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: flex;
}

.friendInviteBox {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  padding: 10px;
  background: rgb(255, 242, 240);
  border-radius: 10px;
}

.friendInviteBox:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.friendInviteBox .starting {
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.friendInviteBox .inviteInfo {
  display: flex;
  align-items: center;
}

.friendInviteBox .headIcon {
  height: 40px;
  margin: 0px;
}

.friendInviteBox .name {
  margin: 0px;
}

.friendInviteBox button {
  justify-self: flex-end;
}

.friendInviteBox button+button {
  margin-left: 10px;
}

.exchangeNoticeItem .starting {
  margin-bottom: 10px;
}

.exchangeNoticeItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  background: rgb(199, 215, 253);
}

.exchangeNoticeItem:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.exchangeNoticeItem .starting {
  margin-bottom: 10px;
}

.exchangeItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 15px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  background-image: linear-gradient(rgb(2, 77, 252), rgb(2, 77, 252));
  background-position: left;
  background-size: 5px;
  background-repeat: no-repeat;
}

.exchangeItem+.exchangeItem {
  margin-top: 10px;
}

.exchangeItem img {
  height: 40px;
  width: 40px
}

.exchangeItem .time {
  color: rgb(189, 189, 191);
  font-weight: 500;
  font-size: small;
  align-self: flex-start;
}

.exchangeItem .infoBox {
  display: flex;
  align-items: center;
}

.exchangeItem .name {
  color: rgb(130, 131, 136);
  font-size: large;
  font-weight: 500;
}

.infoItem+.infoItem {
  margin-left: 10px;
}

.exchangeItem .langInfoBox {
  display: flex;
  align-items: center;
}

.exchangeItem .langInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.exchangeItem .duration {
  color: rgb(130, 131, 136);
  font-size: small;
  font-weight: 500;
}

.exchangeItem path {
  color: rgb(2, 77, 252)
}

.exchangeNoticeItem .btnBox {
  align-self: flex-end;
  margin-top: 10px;
}

.tool_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tool_box>div {
  padding: 5px;
  border: 1px solid darkolivegreen;
  border-radius: 10px;
  margin: 10px;
}

.tool_box th {
  padding: 5px;
  border: 1px solid darkolivegreen;
  margin: 10px;
}

#bufferMsg {
  padding: 10px;
  background: white;
  border-radius: 10px;
}