header {
  height: 70px;
  padding: 10px 25px 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.web-name {
  font-size: 50px;
  line-height: 50px;
  color: #3f3a3a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/signup_background.jpg');
  background-repeat: repeat;
  background-position: top;
  height: calc(100vh - 70px);
}

#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: calc(100% - 40px);
  background-image: linear-gradient(to right, transparent, white 5%, white 95%, transparent);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: auto;
}

.title {
  text-align: center;
}

input[name='name'] {
  width: 50%;
}

label[for='gender'] {
  padding-left: 0px;
}

.gender {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.input-group {
  justify-content: space-between;
  flex-wrap: nowrap;
}

input[type="date"] {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: 36px;
}

#addInterest {
  background: lightseagreen;
  cursor: pointer;
}

.buttons {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.btn {
  align-self: center;
  width: 86px;
  font-weight: 500;
}

#signup {
  background: rgb(2, 77, 252);
  color: white
}

#signin {
  margin-top: 20px;
  background: white;
  color: rgb(2, 77, 252);
  border: 2px solid rgb(2, 77, 252);
}